--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Brutarie_bakery; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public."Brutarie_bakery" (
    bakery_id integer NOT NULL,
    location character varying(100) NOT NULL,
    name character varying(100) NOT NULL,
    opened_at date NOT NULL
);


ALTER TABLE public."Brutarie_bakery" OWNER TO musat_stefan;

--
-- Name: Brutarie_bakery_bakery_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public."Brutarie_bakery" ALTER COLUMN bakery_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Brutarie_bakery_bakery_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Brutarie_category; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public."Brutarie_category" (
    category_id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public."Brutarie_category" OWNER TO musat_stefan;

--
-- Name: Brutarie_category_category_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public."Brutarie_category" ALTER COLUMN category_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Brutarie_category_category_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Brutarie_employee; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public."Brutarie_employee" (
    employee_id integer NOT NULL,
    name character varying(100) NOT NULL,
    age integer NOT NULL,
    bakery_id integer NOT NULL,
    job_title character varying(100)
);


ALTER TABLE public."Brutarie_employee" OWNER TO musat_stefan;

--
-- Name: Brutarie_employee_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public."Brutarie_employee" ALTER COLUMN employee_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Brutarie_employee_employee_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Brutarie_product; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public."Brutarie_product" (
    product_id integer NOT NULL,
    name character varying(100) NOT NULL,
    category_id integer NOT NULL,
    description text,
    price numeric(10,2) NOT NULL,
    stock bigint NOT NULL,
    allergens text,
    calories integer,
    CONSTRAINT "Brutarie_product_stock_check" CHECK ((stock >= 0))
);


ALTER TABLE public."Brutarie_product" OWNER TO musat_stefan;

--
-- Name: Brutarie_product_product_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public."Brutarie_product" ALTER COLUMN product_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Brutarie_product_product_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Brutarie_promotion; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public."Brutarie_promotion" (
    promotion_id integer NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    discount numeric(5,2) NOT NULL
);


ALTER TABLE public."Brutarie_promotion" OWNER TO musat_stefan;

--
-- Name: Brutarie_promotion_products; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public."Brutarie_promotion_products" (
    id bigint NOT NULL,
    promotion_id integer NOT NULL,
    product_id integer NOT NULL
);


ALTER TABLE public."Brutarie_promotion_products" OWNER TO musat_stefan;

--
-- Name: Brutarie_promotion_products_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public."Brutarie_promotion_products" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Brutarie_promotion_products_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Brutarie_promotion_promotion_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public."Brutarie_promotion" ALTER COLUMN promotion_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Brutarie_promotion_promotion_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Brutarie_vehiclefleet; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public."Brutarie_vehiclefleet" (
    vehicle_id integer NOT NULL,
    brand character varying(100) NOT NULL,
    manufacture_year integer NOT NULL,
    bakery_id integer NOT NULL,
    purchase_date date
);


ALTER TABLE public."Brutarie_vehiclefleet" OWNER TO musat_stefan;

--
-- Name: Brutarie_vehiclefleet_vehicle_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public."Brutarie_vehiclefleet" ALTER COLUMN vehicle_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Brutarie_vehiclefleet_vehicle_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO musat_stefan;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO musat_stefan;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO musat_stefan;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO musat_stefan;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO musat_stefan;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO musat_stefan;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO musat_stefan;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO musat_stefan;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO musat_stefan;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: musat_stefan
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: musat_stefan
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO musat_stefan;

--
-- Data for Name: Brutarie_bakery; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--

COPY public."Brutarie_bakery" (bakery_id, location, name, opened_at) FROM stdin;
1	Bucharest	Sunrise Bakery	2024-11-15
2	Cluj-Napoca	Golden Crust	2018-08-01
3	Timisoara	The Sweet Oven	2020-12-10
4	Brasov	Flour & Sugar Bakery	2012-03-25
5	Iasi	The Daily Bread	2016-07-20
\.


--
-- Data for Name: Brutarie_category; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--

COPY public."Brutarie_category" (category_id, name, description) FROM stdin;
1	Breads	Freshly baked bread, perfect for sandwiches and toast.
2	Pastries	Assorted pastries including croissants and danishes.
3	Cakes	Delicious cakes for all occasions.
4	Cookies	Crispy, soft cookies with chocolate chips.
5	Drinks	Refreshing cold beverages, including juices and sodas.
\.


--
-- Data for Name: Brutarie_employee; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--



--
-- Data for Name: Brutarie_product; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--



--
-- Data for Name: Brutarie_promotion; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--

COPY public."Brutarie_promotion" (promotion_id, start_date, end_date, discount) FROM stdin;
1	2024-11-14	2024-11-17	10.00
2	2024-12-11	2024-12-18	15.00
3	2024-10-15	2024-12-31	20.00
4	2025-01-05	2025-01-10	5.00
5	2024-11-20	2024-12-20	25.00
\.


--
-- Data for Name: Brutarie_promotion_products; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--

COPY public."Brutarie_promotion_products" (id, promotion_id, product_id) FROM stdin;
1	1	1
2	1	2
3	2	3
4	2	4
5	3	1
6	3	5
7	4	2
8	4	4
9	5	2
10	5	3
\.


--
-- Data for Name: Brutarie_vehiclefleet; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--

COPY public."Brutarie_vehiclefleet" (vehicle_id, brand, manufacture_year, bakery_id, purchase_date) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$870000$F5TGMhbnmjHDHWufMThlbf$hgwIyWljvMqAmUtmreVIsci6YMSgggfNmjLhv+DUU+I=	2024-12-04 15:34:18.806693+02	t	musat_stefan			musatstefan2004@gmail.com	t	t	2024-11-14 22:13:35.059242+02
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	Brutarie	bakery
8	Brutarie	category
9	Brutarie	employee
10	Brutarie	product
11	Brutarie	promotion
12	Brutarie	vehiclefleet
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: musat_stefan
--



--
-- Name: Brutarie_bakery_bakery_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public."Brutarie_bakery_bakery_id_seq"', 5, true);


--
-- Name: Brutarie_category_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public."Brutarie_category_category_id_seq"', 5, true);


--
-- Name: Brutarie_employee_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public."Brutarie_employee_employee_id_seq"', 15, true);


--
-- Name: Brutarie_product_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public."Brutarie_product_product_id_seq"', 38, true);


--
-- Name: Brutarie_promotion_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public."Brutarie_promotion_products_id_seq"', 10, true);


--
-- Name: Brutarie_promotion_promotion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public."Brutarie_promotion_promotion_id_seq"', 5, true);


--
-- Name: Brutarie_vehiclefleet_vehicle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public."Brutarie_vehiclefleet_vehicle_id_seq"', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 48, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 59, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 12, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: musat_stefan
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 21, true);


--
-- Name: Brutarie_bakery Brutarie_bakery_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public."Brutarie_bakery"
    ADD CONSTRAINT "Brutarie_bakery_pkey" PRIMARY KEY (bakery_id);


--
-- Name: Brutarie_category Brutarie_category_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public."Brutarie_category"
    ADD CONSTRAINT "Brutarie_category_pkey" PRIMARY KEY (category_id);


--
-- Name: Brutarie_employee Brutarie_employee_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public."Brutarie_employee"
    ADD CONSTRAINT "Brutarie_employee_pkey" PRIMARY KEY (employee_id);


--
-- Name: Brutarie_product Brutarie_product_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public."Brutarie_product"
    ADD CONSTRAINT "Brutarie_product_pkey" PRIMARY KEY (product_id);


--
-- Name: Brutarie_promotion Brutarie_promotion_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public."Brutarie_promotion"
    ADD CONSTRAINT "Brutarie_promotion_pkey" PRIMARY KEY (promotion_id);


--
-- Name: Brutarie_promotion_products Brutarie_promotion_produ_promotion_id_product_id_14246b5d_uniq; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public."Brutarie_promotion_products"
    ADD CONSTRAINT "Brutarie_promotion_produ_promotion_id_product_id_14246b5d_uniq" UNIQUE (promotion_id, product_id);


--
-- Name: Brutarie_promotion_products Brutarie_promotion_products_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public."Brutarie_promotion_products"
    ADD CONSTRAINT "Brutarie_promotion_products_pkey" PRIMARY KEY (id);


--
-- Name: Brutarie_vehiclefleet Brutarie_vehiclefleet_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public."Brutarie_vehiclefleet"
    ADD CONSTRAINT "Brutarie_vehiclefleet_pkey" PRIMARY KEY (vehicle_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: Brutarie_employee_bakery_id_96cf013e; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX "Brutarie_employee_bakery_id_96cf013e" ON public."Brutarie_employee" USING btree (bakery_id);


--
-- Name: Brutarie_product_category_id_559458b1; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX "Brutarie_product_category_id_559458b1" ON public."Brutarie_product" USING btree (category_id);


--
-- Name: Brutarie_promotion_products_product_id_456588e9; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX "Brutarie_promotion_products_product_id_456588e9" ON public."Brutarie_promotion_products" USING btree (product_id);


--
-- Name: Brutarie_promotion_products_promotion_id_82cb987d; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX "Brutarie_promotion_products_promotion_id_82cb987d" ON public."Brutarie_promotion_products" USING btree (promotion_id);


--
-- Name: Brutarie_vehiclefleet_bakery_id_6ae9a3a2; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX "Brutarie_vehiclefleet_bakery_id_6ae9a3a2" ON public."Brutarie_vehiclefleet" USING btree (bakery_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: musat_stefan
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: Brutarie_employee Brutarie_employee_bakery_id_96cf013e_fk_Brutarie_; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public."Brutarie_employee"
    ADD CONSTRAINT "Brutarie_employee_bakery_id_96cf013e_fk_Brutarie_" FOREIGN KEY (bakery_id) REFERENCES public."Brutarie_bakery"(bakery_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Brutarie_product Brutarie_product_category_id_559458b1_fk_Brutarie_; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public."Brutarie_product"
    ADD CONSTRAINT "Brutarie_product_category_id_559458b1_fk_Brutarie_" FOREIGN KEY (category_id) REFERENCES public."Brutarie_category"(category_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Brutarie_promotion_products Brutarie_promotion_p_product_id_456588e9_fk_Brutarie_; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public."Brutarie_promotion_products"
    ADD CONSTRAINT "Brutarie_promotion_p_product_id_456588e9_fk_Brutarie_" FOREIGN KEY (product_id) REFERENCES public."Brutarie_product"(product_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Brutarie_promotion_products Brutarie_promotion_p_promotion_id_82cb987d_fk_Brutarie_; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public."Brutarie_promotion_products"
    ADD CONSTRAINT "Brutarie_promotion_p_promotion_id_82cb987d_fk_Brutarie_" FOREIGN KEY (promotion_id) REFERENCES public."Brutarie_promotion"(promotion_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Brutarie_vehiclefleet Brutarie_vehicleflee_bakery_id_6ae9a3a2_fk_Brutarie_; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public."Brutarie_vehiclefleet"
    ADD CONSTRAINT "Brutarie_vehicleflee_bakery_id_6ae9a3a2_fk_Brutarie_" FOREIGN KEY (bakery_id) REFERENCES public."Brutarie_bakery"(bakery_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: musat_stefan
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO musat_stefan;


--
-- PostgreSQL database dump complete
--

