{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/oferta.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exclusive Offer</title>
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <header>
        <h1>Congratulations!</h1>
    </header>
    <p>You have unlocked an exclusive 50% discount on your next purchase. Use the code <strong>HALFPRICE</strong> at
        checkout!</p>
</body>

</html>